@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    color: #000;
    background-color: #f1f1f1 !important;
}

.container-fluid {
    max-width: 768px;
    background-color: #f1f1f1;
}

.btn:focus, .btn-close:focus, .form-control:focus {
    box-shadow: none;
}

/* Header */
nav {
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 3;
}

nav .container-fluid .row.flex-nowrap{
    background-color: #fff;
}

.clock, .map  {
    width: 19.51px;
    height: 19.51px;
}

img.header-logo {
    width: 76.36px;
    height: 30px;
}

.logo-section .navbar-brand {
    padding: 10px 10px;
    margin-right: 0;
}

.col.header-icon {
    margin-top: 14.63px !important;
    margin-bottom: 15.85px;
    padding-left: 17.48px;
    padding-right: 16.67px;
}

/* End of Header */

/* Footer */

footer {
    padding-top: 22px;
    padding-bottom: 84px;
    color: #444;
}

footer .fb, footer .ig {
    height: 20.5px;
    width: 20.5px;
}

/* End of Footer */

/* Body content */

/* Search bar section */

.search-section {
    top: 50px;
    padding-left: 13px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    z-index: 3;
}

/* .search-section .col-2 .input-group {
    display: flex;
    flex-wrap: nowrap;
} */

.search-section .col-8 .form-select {
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    border: none;
}

.search-section .col-4 .input-group {
    height: 32px;
}

.search-section .col-4 .input-group .form-control {
    padding: 6px 0 7px 10px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.search-section .col-4 .input-group .input-group-text {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-section .col-4 .input-group .input-group-text button {
    padding: 6px 0 7px 0;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-section .col-4 .input-group .input-group-text button > * {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: #828282;
}

.visible {
    height: auto;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.hidden {
    height: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease-out;
}

/* End of Search bar section */

/* Banner */

.homepage-banner {
    position: relative;
}

.homepage-banner img {
    height: 287px;
}

.banner-content {
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-content h1 {
    font-size: 31px;
    line-height: 42px;
    color: white;
}

.banner-content span {
    margin-top: 14px;
}

.banner-content p, .banner-content span  {
    font-size: 18px;
    line-height: 25px;
    color: white;
}

/* End of Banner */

.featured-product, .featured-category {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}

.featured-title h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.product-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

/* Featured product */

.featured-product {
    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 15px;
}

.featured-product .col-6 {
    margin-top: 15px;
}

.featured-product .card {
    border: none;
}

.featured-product .card img {
    width: 224px;
    height: 224px;
    border-radius: 5px;
}

.product-info {
    margin-top: 6px;
}

.product-info a {
    font-size: 14px;
    line-height: 19px;
    color: #000;
}

.featured-product .product-title {
    font-size: 18px;
    line-height: 25px;
}

/* End of featured product */

/* Featured category */

.featured-category {
    margin-top: 20px;
}

.featured-category .featured-title {
    margin-top: 15px;
}

.featured-category .list-group-item {
    border: none;
    padding: 15px 0 15.07px 0;
}

.featured-category .list-group-item:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.category-button-overlay {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 0;
    right: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 2;
    border-radius: 4px;
    cursor: pointer;
    outline: none!important;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.featured-category .product-title {
    font-size: 21px;
    line-height: 29px;
}

.product-desc {
    font-size: 18px;
    line-height: 25px;
    color: #828282;
}

.category-image img {
    max-width: 165px;
    max-height: 165px;

    border-radius: 4px;
}

/* End of featured category */

/* Product Modal */

.modal .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.modal .row {
    margin-right: -15px;
    margin-left: -15px;
}

.modal-dialog-scrollable div.modal-content {
    overflow: auto;
}

.modal-body {
    background-color: #f1f1f1;
}

.modal-banner {
    position: relative;
    width: 100%;
    height: 200px;
}

.modal-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.modal .close-button {
    position: absolute;
    top: 2%;
    right: 1%;
    border: 2px solid #000;
    border-radius: 50%;
    opacity: 1;
    padding: 10.21px;
}

.modal .price-label {
    position: absolute;
    width: 130px;
    height: 35px;
    bottom: 7%;
    right: 0;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    padding: 7px 15px 8px 16px;
}

.modal .price-label span {
    font-family: Poppins;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.product-input-field .row {
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: #fff;
}

.minus-button {
    width: 36px;
    height: 36px;
    background-color: #e1e1e1;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.quantity-field {
    width: 36px;
    height: 36px;
    background-color: #f8f5f2;
    color: #000;
}

.plus-button {
    width: 36px;
    height: 36px;
    background-color: #ee4d2d;
    color: #fff;
    border-radius: 0px 4px 4px 0;
}

.product-description-modal {
    margin-top: 10px;
}

.product-description-modal .row {
    height: 303px;
    padding-top: 15px;
    background-color: #fff;
}

/* If product has variant */
.product-description-modal.has-variants .row{
    height: auto;
    padding-bottom: 15px;
}

.product-variant-modal {
    margin-top: 10px;
}

.product-variant-modal .row {
    padding-top: 15px;
    padding-bottom: 16px;
    background-color: #fff;
}

.product-variant-modal h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
}

.product-variant-modal span.required-variant {
    font-size: 16px;
    color: #ee4d2d;
}

.product-variant-option:not(:last-child) {
    margin-bottom: 9px;
}

input.single-variant-selector-radio {
    width: 21px;
    height: 21px;
    margin-top: 0px;
    border: 2px solid #e0e0e0;
}

input.single-variant-selector-radio:checked, input.single-variant-selector-select:checked {
    background-color: #e84c4f;
    color: #e84c4f;
    border-color: #e84c4f;
}

input.single-variant-selector-select {
    width: 18px;
    height: 18px;
    margin-top: 0px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
}

.list-product-variants-options label {
    width: 192px;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-left: 15px;
    color: #333;
}

.list-product-variants-options span {
    position: absolute;
    width: 80px;
    right: 0;
    text-align: right;
    padding-right: 15px;
    color: #333;
}

/* End of if product has variant */

.product-description-modal p {
    font-size: 16px;
    line-height: 21.79px;
    font-weight: 400;
}

.note-modal, .note-cart {
    margin-top: 10px;
}

.note-modal .row, .note-cart .row {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}

.note-modal .input-group .input-group-text, .note-cart .input-group .input-group-text {
    padding: 11.2px 17.25px 11.2px 13.25px;
    color: #cacaca;
    background-color: #f2f5f8;
    border-radius: 4px;
    border: none;
}

.note-modal .input-group .form-control, .note-cart .input-group .form-control {
    padding: 0;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #7e7e7e;
    background-color: #f2f5f8;
    border-radius: 4px;
    border: none;
}

.cart-button {
    margin-top: 12px;
}

.cart-button .row {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}

.cart-button button {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 77px 19px 78px;
    color: #fff;
    background-color: #ee4d2d;
    border-radius: 4px;
}

/* End of Product Modal */

/* Cart Button Section */

.cart-button-section {
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 91px;
    padding: 15px 15.61px 15px 17px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    z-index: 2;
}

span.total-cart-text {
    vertical-align: text-bottom;
}

span.total-cart-quantity {
    font-weight: normal;
}

span.total-cart-price {
    position: absolute;
    right: 31px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
}

/* End of Cart Button Section */

/* Order Button Section */

.order-button-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 91px;
    max-height: 91px;
    padding: 15px 15px 15px 17px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    z-index: 4;
}

.order-button-section.open {
    height: auto;
    max-height: 40rem;
    min-height: 91px;
}

.order-button-section .btn-add-to-cart {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 2.3rem); 
    padding: 19px 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #fff;
    background-color: #ee4d2d;
    border-radius: 4px;
    z-index: 2;
}

.order-button-section .order-content {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    transition: height 0.3s ease-out, visibility 0.3s, opacity 0.3s linear;
}

.order-button-section .order-content.collapse.show {
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.order-content .btn-close {
    position: absolute;
    top: 2%;
    right: 1%;
    border: 2px solid #000;
    border-radius: 50%;
    opacity: 1;
    padding: 10px;

    z-index: 4;
}

.order-content h2 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.order-content .order-body {
    max-height: 40rem;
    margin-bottom: 5rem;
    padding: 1.25rem 1.5rem;
}

.order-body .list-group-item {
    border: none;
}

.order-body li:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.order-button {
    position: absolute;
    bottom: 0;
}

.order-button button {
    width: 100%;
    padding: 19px 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: left; 
    color: #fff;
    background-color: #ee4d2d;
    border-radius: 4px;
    z-index: 5;
}

/* End of Order Button Section */

/* End of Body content */

/* Cart page */

/* Order summary section */

.order-summary {
    margin-top: 10px;
    padding-left: 18px;
    padding-right: 16px;
    background-color: #fff;
}

.order-summary h2 {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-top: 15px;
}

.order-summary .col-6.text-end a {
    display: block;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    padding: 20px 0px 5px 0px;
    color: #0d6efd;
}

.order-summary .list-group-item {
    padding: 15px 0px;
    border: none;
}

.order-summary .list-group-item:last-child {
    padding-bottom: 12px;
}

.order-summary .list-group-item:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.order-quantity {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
}

.order-quantity span {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #0d6efd;
}

.list-group-item .order-details {
    padding-left: 15px;
}

.order-details .product-title {
    margin-bottom: 11px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #333;
}

.order-details .product-variant {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

.order-details a {
    margin-top: 10px;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #0d6efd;
}

.order-price span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #565b75;
}

/* End of Order summary section */

.note-cart .row {
    padding-left: 16px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 0;
}

.note-cart .row .col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

/* Cart total section */

.cart-total-section {
    margin-top: 10px;
    padding: 15px 16px 15px 17px;
    background-color: #fff;
}

.cart-total-section > .row > * {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

.cart-total-section > *:last-child {
    margin-bottom: 0px;
}

/* End of cart total section */

/* Order options section */

.cart-order-options {
    margin-top: 10px;
    padding-left: 18px;
    padding-right: 16px;
    background-color: #fff;
}

.cart-order-options h2 {
    padding-top: 15px;
    margin-bottom: 0px;
}

.cart-order-options .list-group-item {
    padding: 15px 0px;
    border: none;
}

.cart-order-options .list-group-item:last-child {
    padding-bottom: 30px;
}

.cart-order-options .list-group-item:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.cart-order-options .order-options-list p {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

.cart-order-options .order-options-list span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

.cart-order-options .order-options-input img {
    width: 42.75px;
    height: 15px;
    object-fit: cover;
}

/* End of order options section */

/* Set delivery button */

.set-delivery-section {
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 91px;
    padding: 15px 15.61px 17px 17px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    z-index: 2;
}

button.btn-set-delivery {
    width: 100%;
    height: 61px;
    padding: 20px 15.39px 19px 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #fff;
    background-color: #ee4d2d;
    border-radius: 4px;
}

/* End of Set delivery button */

/* End of Cart page */

/* Checkout page */

/* Contact information section */

.contact-information {
    margin-top: 10px;
    padding: 11px 15px 15px 15px;
    background-color: #fff;
}

.intl-tel-input {
    display: table-cell;
    width: 100%;
}

.intl-tel-input .flag-container {
    right: auto;
    left: 0;
}

.intl-tel-input .selected-flag {
    z-index: 4;
    padding-left: 17px !important;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.input-group .intl-tel-input input#intlTelPhone {
    padding-left: 48px;
}

/* End of Contact information section */

.contact-information label, .delivery-address label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.contact-information .input-group, .delivery-address .input-group {
    margin-bottom: 10px;
    padding-left: 1px;
}

.contact-information .input-group input.form-control, .delivery-address .input-group input.form-control {
    padding: 10px 15px 10px 17px;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #000;
    background-color: #f2f5f8;
    border-radius: 4px;
    opacity: 0.6;
}

.contact-information .input-group:last-child, .delivery-address .input-group:last-child {
    margin-bottom: 0px;
}

/* Delivery address section */

.delivery-address {
    margin-top: 10px;
    padding: 11px 15px 15px 15px;
    background-color: #fff;
}

.delivery-address label {
    padding-top: 11px;
}

.delivery-address .input-group:last-child  > .form-control:not(:last-child) {
    margin-right: 14px;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.delivery-address .input-group:last-child  > .form-control:last-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

/* End of Delivery address section */

/* Delivery rates section */

.delivery-rates {
    margin-top: 10px;
    padding: 11px 16px 26px 15px;
    background-color: #fff;
}

.delivery-rates label {
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.delivery-rates span.input-group-text {
    width: 100%;
    height: 124px;
    background: #f1f1f1;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.delivery-rates span > * {
    width: 24px;
    height: 24px;
    color: #828282;
}

.delivery-rates .input-group {
    display: block;
}

.delivery-rates .input-group:not(:last-child) {
    padding-bottom: 11px;
}

.delivery-rates .input-group label {
    height: 22px;
    margin-bottom: 6px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

.delivery-rates .input-group label span {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}

.delivery-rates .input-group span.rates-price {
    position: absolute;
    width: 75px;
    right: 0;
    text-align: right;
    color: #333;
}

.delivery-rates .input-group input.single-selector-radio-rates:checked+label+span.rates-price {
    font-weight: bold;
}

input.single-selector-radio-rates:checked+label {
    font-weight: bold;
}

.delivery-rates .input-group:not(:last-child) {
    margin-top: 4px;
    border-bottom: 1px solid #f1f1f1;
}

.delivery-rates:not(.disabled) .input-group:last-child {
    margin-top: 15px;
}

.delivery-rates input.single-selector-radio-rates {
    width: 21px;
    height: 21px;
    margin-top: 0px;
    border: 2px solid #e0e0e0;
    border-radius: 50% !important;
}

.delivery-rates input.single-selector-radio-rates:checked {
    background-color: #e84c4f;
    color: #e84c4f;
    border-color: #e84c4f;
}

/* End of Delivery rates section */

/* Payment options section */

.payment-options {
    margin-top: 10px;
    padding: 16.2px 16px 15px 15px;
    padding-left: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    background-color: #fff;
}

.payment-options label {
    margin-bottom: 19.8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.payment-options .list-group-item {
    padding: 11px 0px 10px 0;
    border: none;
}

.payment-options .list-group-item label {
    height: 20px;
    margin-bottom: 0px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

input.single-selector-radio-bank:checked+label {
    font-weight: bold;
}

.payment-options .list-group-item:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.payment-options .list-group-item input.single-selector-radio-bank {
    width: 21px;
    height: 21px;
    margin-top: 0px;
    border: 2px solid #e0e0e0;
    border-radius: 50% !important;
}

.payment-options .list-group-item input.single-selector-radio-bank:checked {
    background-color: #e84c4f;
    color: #e84c4f;
    border-color: #e84c4f;
}

.payment-options:not(.disabled) .payment-options-bank-image img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.payment-options.disabled .payment-options-bank-image img {
    display: none;
}

/* End of Payment options section */

/* Checkout total section */

.checkout-total-section {
    margin-top: 10px;
    padding: 15px 16px 15px 17px;
    background-color: #fff;
}

.checkout-total-section > .row > * {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

/* End of Checkout total section */

/* Pay now section */

.pay-now-section {
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 143px;
    padding: 18.99px 15.61px 18.99px 17px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    z-index: 2;
}

.pay-now-section > .row > .col-6 {
    margin-bottom : 14.52px;
}

.pay-now-section span.total-text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #000;
}

.pay-now-section span.checkout-total {
    font-weight: bold;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

button.btn-pay-now {
    width: 100%;
    height: 61px;
    padding: 20.11px 73.39px 20.11px 73px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #fff;
    background-color: #ee4d2d;
    border-radius: 4px;
}

button.btn-pay-now:disabled {
    background: rgba(130, 130, 130, 0.6);
}

/* End of Pay now section */

/* End of Checkout page */

/* Thank you page */

section.thank-you {
    padding: 133px 47px 124px 43px;
    background-color: #fff;
}

section.thank-you img {
    height: 332px;
}

section.thank-you h2 {
    margin-top: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

section.thank-you p {
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #7e7e7e;
}

section.thank-you a {
    padding: 16px 36px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #fff;
    background-color: #27ae60;
    border-radius: 4px;
}

/* End of Thank you page */

/* Desktop only css */

@media (min-width: 768px) {

    /* Body content */

    /* Cart Button Section */

    .cart-button-section, .set-delivery-section, .pay-now-section, .order-button-section {
        width: 768px;
    }

    /* End of Cart Button Section */

    /* End of Body content */

}

/* End of Desktop only css *?

/* Mobile css */

@media (max-width: 576px) {

    .container-fluid {
        max-width: 100%;
    }

    /* Body content */

    /* Banner */

    .homepage-banner img {
        height: 151px;
    }

    .banner-content h1 {
        font-size: 19px;
        line-height: 26px;
    }

    .banner-content p {
        margin-bottom: 0;
    }

    .banner-content span {
        margin-top: 0;
    }

    .banner-content p, .banner-content span  {
        font-size: 12px;
        line-height: 16px;
    }

    /* End of Banner */

    .featured-product .product-title, .featured-category .product-title, .product-price {
        font-size: 14px;
        line-height: 19px;
    }

    /* Featured product */
    
    .featured-title h2 {
        font-size: 21px;
        line-height: 29px;
    }

    .featured-product .card img {
        width: 165px;
        height: 165px;
    }

    /* End of featured product */

    /* Featured category */

    .featured-category {
        margin-top: 10px;
    }

    .featured-category .category-image img {
        width: 91.93px;
        height: 91.93px;
    }

    .featured-category .product-details {
        padding-right: 10px;
    }

    .product-desc {
        font-size: 12px;
        line-height: 16px;
    }

    /* End of featured category */

    /* Cart page */


    /* End of Cart page */

    /* Order summarry section */

    .order-summary .list-group-item {
        justify-content: space-between;
    }

    /* End of order summary section */

    /* End of body content */

}

/* End of Mobile css */